@import "reset";


:root {
  //colors
  --black: #0f0e0e;
  --light-grey: rgba(179 175 175 / 93%);
  --bg-color: #e6e6e6;
  --bg-list: #fefefe;

}


body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: sans-serif;
}
